/* General styles for larger screens */
#app-title {
    font-size: 2.5rem;
}

#main-content {
    font-size: 1rem;
}

#app-content {
    max-width: 70%;
    padding: 2rem;
    overflow: auto;
}

/* Medium screens (tablets, 992px and below) */
@media (max-width: 992px) {
    #app-title {
        font-size: 2rem;
    }
    #main-content {
        font-size: 0.9rem;
    }
    #app-content {
        max-width: 90%;
        max-height: 98vh;
        padding: 1.5rem;
        overflow: auto;
    }
}

/* Small screens (768px and below) */
@media (max-width: 768px) {
    #app-title {
        font-size: 1.5rem;
    }
    #main-content {
        font-size: 0.8rem;
    }
    #app-content {
        max-width: 90%;
        height: 98vh;
        max-height: 98vh;
        padding: 1.25rem;
        overflow: auto;
    }
}

/* Extra small screens (576px and below) */
@media (max-width: 576px) {
    #app-title {
        font-size: 1.2rem;
    }
    #main-content {
        font-size: 0.75rem;
    }
    #app-content {
        max-width: 95%;
        padding: 1rem;
        overflow: auto;
    }
}

/* Ultra small screens (375px and below) */
@media (max-width: 375px) {
    #app-title {
        font-size: 1rem;
    }
    #main-content {
        font-size: 0.7rem;
    }
    #app-content {
        max-width: 100%;
        padding: 0.75rem;
        overflow: auto;
    }
}
